.movie-list{
  list-style: none;
}

.link-button{
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;
  background: var(--purple);
  font-size: 14px;
  display: block;
  width: 120px;
  text-align: center;
  transition: var(--transition);
  &:hover{
    transform: var(--translateY);
  }
}

.movie-description{
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}